<h1>Celebrities page</h1>

{{#each allCelebs}}
  <div class="celeb-card">
    <h3>Name:{{this.name}}</h3>
    <h3>Occupation:{{this.occupation}}</h3>
    <h3>Catch Phrase:{{this.catchPhrase}}</h3>
  </div>

{{/each}}