<h1>Create a Celeb</h1>

<form method="post" action="/celeb/create">
  <input name="name" type="text" />
  <input name="occupation" type="text" />
  <input name="catchPhrase" type="text" />
  <button>Create</button>
</form>