body {
  background-color: rgb(2, 145, 145);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-body {
  min-height: 80vh;
}
.navbar {
  background-color: rgb(77, 251, 251);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 58, 107);
}
.footer {
  background-color: rgb(77, 251, 251);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20vw;
  border: 1px solid black;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 50px rgb(15, 15, 15);
}
.card img {
  width: 80%;
}
